*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

div {
    width: 220px;
    height: 220px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait){
    section{
        flex-direction: column;
    }
}