*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d1{
    height: 40px;
    background-color: red;
    min-width: 200px;
    max-width: 500px;
}

.d2{
    margin-top: 60px;
    height: 40px;
    background-color: blue;
    min-width: 200px;
    width: 50%;
    max-width: 400px;
}

/* Same as min-height and max-height */