*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    padding: 30px;
}

div{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}

h4{
    margin-top: 30px;
}

section{
    margin-top: 10px;
    border: 3px solid blue;
}

h4{
    text-align: center;
}

.h-200{
    height: 200px;
}

/*  */
.s1{
    display: flex;
    flex-direction: row;
}

.s2{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.s3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.s4{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.s5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.s6{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.s7{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.s8{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.s9{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.s10{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

.s11{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
}

.s12{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.s13{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap-reverse;
}

.s14{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    align-content: start;
}

.s15{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    align-content: center;
}

.s16{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    align-content: end;
}

.s17{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    align-content: space-between;
}

.s18{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.s19{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    align-content: space-around;
}

/*  Beginning of s20 */
.s20{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.s20 >div:first-child{
    align-self: start;
}

.s20 >div:nth-child(2){
    align-self: end;
}

.s20 > div:nth-child(3){
    height: auto;
    align-self: stretch;
}

.s20 > div:last-child{
    align-self: center;
}

/*  End of s20 */

/*  Beginning of s21 */
.s21{
    display: flex;
    flex-direction: row;
}

.s21 > div:first-child{
    flex-basis: 120px;
    flex-grow: 1;
}

.s21 > div:last-child{
    flex-basis: 120px;
    flex-grow: 3;
}

/*  End of s21 */

/*  Beginning of s22 */
.s22{
    display: flex;
    flex-direction: row;
}

.s22 > div:first-child{
    flex-basis: 120px;
    flex-shrink: 1;
}

.s22 > div:last-child{
    flex-basis: 120px;
    flex-shrink: 3;
}

/*  End of s22 */

/*  Beginning of s23 */
.s23{
    display: flex;
    flex-direction: row;
}

.s23>div:first-child{
    order: 1;
    background-color: red;
    color: white;
    font-size: 1.1rem;
}

/*  End of s23 */

.s24{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}